version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"

  fastapi:
    build: ./api
    container_name: fastapi
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8000:8000"

  dashboard:
    build: ./Dashboard
    container_name: dashboard
    restart: always
    depends_on:
      - fastapi
    ports:
      - "8080:8080"
    environment:
      - API_URL=http://fastapi:8000/alerts

  simulator:
    build:
      context: ./streaming
    container_name: simulator
    restart: always
    depends_on:
      - fastapi
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
  ml_service:
    build: ./ml_service
    container_name: ml_service
    depends_on:
      - redis
    restart: always
  alert_engine:
    build: ./alert_engine
    container_name: alert_engine
    depends_on:
      - redis
      - fastapi
    restart: always



volumes:
  postgres_data:


